<a href="https://colab.research.google.com/github/deepak-dewani/Advance-Python-Programming/blob/main/Advance_Python_03_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Chapter - Advance Python**

**Name - Dictonaries**

**Description - Use of all commands**

**Dictionaries**- A dictionary is like a list, but more general. In a list, the index positions have to be integers; in a dictionary, the indices can be (almost) any type.

You can think of a dictionary as a mapping between a set of indices (which are called keys) and a set of values. Each key maps to a value. The association of a key and a value is called a key-value pair or sometimes an item.

# **Creating a dictonaries**
The function **dict()** creates a new dictionary with no items. Because **dict()** is the name of a built-in function, you should avoid using it as a variable name.

The curly brackets, {}, represent an empty dictionary.

In [ ]:
#  Dictionaries are collection datatype which has key:value pairs, unordered and mutuable.

#  Empty Dictonaries

d = {}
print(d)
d= dict()
print(d)
type(d)

{}
{}

dict

**Adding the elements to dictonaries**

 To add items to the dictionary, you can use square brackets[ ]

In [ ]:
#  Adding Element to dict
d = {"Name": "Deepak", "Age": "28", "City": "Nagpur"}
print(d)

d1 = dict(Name="Ram", Age="29", City="Mumbai")
print(d1)

value = d["Name"]
print(value)
value = d["Age"]
print(value)
value = d["City"]
print(value)

{'Name': 'Deepak', 'Age': '28', 'City': 'Nagpur'}
{'Name': 'Ram', 'Age': '29', 'City': 'Mumbai'}
Deepak
28
Nagpur

**Appending to Dict**

We can do so by adding the elements inside the square brackets and assigning the values to it.

In [ ]:
# appending in dict


d["email"]= "abc@xyz.com"
print(d)

{'Name': 'Deepak', 'Age': '28', 'City': 'Nagpur', 'email': 'abc@xyz.com'}

**Deleting the elements**

Use of Del and Pop function

In [ ]:
# Deleting the elements

d = {"Name": "Deepak", "Age": "28", "City": "Nagpur"}
print(d)

# del d["Name"]
# print(d)

d.pop("Name")

print(d)

{'Name': 'Deepak', 'Age': '28', 'City': 'Nagpur'}
{'Age': '28', 'City': 'Nagpur'}

**Use of Popitem()**

We use this to pop/delete the last key value pairs in the dictonaries

In [ ]:
d = {"Name": "Deepak", "Age": "28", "City": "Nagpur"}
d.popitem()
print(d)

{'Name': 'Deepak', 'Age': '28'}

**IF - ELSE Statements**

Finding the elements inside the dictonaries

In [ ]:
# finding the element

d = {"Name": "Deepak", "Age": "28", "City": "Nagpur"}

if "Name" in d:
  print(d["Name"])


#  Another method

d = {"Name": "Deepak", "Age": "28", "City": "Nagpur"}

try:
  print(d["LName"])
except:
  print("Error")

Deepak
Error

**Looping and iterarting through the Dictonaries**

Use of FOR Loop

In [ ]:
# Looping through dict

d = {"Name": "Deepak", "Age": "28", "City": "Nagpur"}

for key in d:
  print(key)

print("\n")

for key in d.keys():
  print(key)

print("\n")

for key in d.values():
  print(key)

print("\n")

for key,value in d.items():
  print(key, value)

Name
Age
City


Name
Age
City


Deepak
28
Nagpur


Name Deepak
Age 28
City Nagpur

**Copy Command**

In [ ]:
# Copying the dict

# First Method - Use of assignment (=)
d = {"Name": "Deepak", "Age": "28", "City": "Nagpur"}

mydct = d

mydct["email"] = "abc@xyz.com"
print(mydct)
print(d)

# Second Method - Use of .copy()
d = {"Name": "Deepak", "Age": "28", "City": "Nagpur"}

mydct = d.copy()

mydct["email"] = "abc@xyz.com"
print(mydct)
print(d)

# Third Method - Use of Dict()
d = {"Name": "Deepak", "Age": "28", "City": "Nagpur"}

mydct = dict(d)

mydct["email"] = "abc@xyz.com"
print(mydct)
print(d)

{'Name': 'Deepak', 'Age': '28', 'City': 'Nagpur', 'email': 'abc@xyz.com'}
{'Name': 'Deepak', 'Age': '28', 'City': 'Nagpur', 'email': 'abc@xyz.com'}

Update Command

In [ ]:
d = {"Name": "Deepak", "Age": "28", "City": "Nagpur"}
d1 = dict(Name="Ram", Age="29", City="Mumbai")

d.update(d1)
print(d)



dct = {3:9,5:25,9:81}
print(dct)
#  if there is int data type in dict, don't use indexes as 0, 1 , 2 so on, rather use actual number to get the value for same.
print(dct[5])

{'Name': 'Ram', 'Age': '29', 'City': 'Mumbai'}
{3: 9, 5: 25, 9: 81}
25

**Tuple in dictonaries**

In [ ]:
# tuple can be used in dict, but not list

mytpl = (8,7)

mydct = {mytpl : 56}

print(mydct)

{(8, 7): 56}

**Dir() Function**

In [ ]:
dir(d)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']