<a href="https://colab.research.google.com/github/deepak-dewani/Advance-Python-Programming/blob/main/Advance_Python_02_Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Chapter - Advance Python**

**Name - Tuples**

**Description - Use of all commands**

 **Tuples** - A tuple is a sequence of values much like a list. The values stored in a tuple can be any type, and they are indexed by integers. The important difference is that tuples are immutable. Tuples are also comparable and hashable so we can sort lists of them and use tuples as key values in Python dictionaries.

# **Creating a tuple**
To create a tuple with a single element, you have to include the final comma

Another way to construct a tuple is the built-in function **tuple()**. With no argument, it creates an empty tuple

In [1]:
# Tuples are immutuable, ordered and allow duplicate element
#  Empty Tuple
mytuple = ()
mytuple = tuple()
print(mytuple)
print(mytuple)
type(mytuple)

()
()

tuple

# **Tuples are immutable**


*   Tuple can allow various datatypes, like lists, can have int, float, string, boolean.
*   In tuple, once the elements are entered, they cannot be change, update or modified.

*   Tuple can allow duplicate elements.

In [ ]:
#  Making Tuple with manaul entry
mytuple = ("Maxx", 5 , 10.5, True)
print(mytuple)
type(mytuple)


# Allow duplicate entry
mytuple = ("Maxx", 5 , 10.5, True, "Max", 5)
print(mytuple)
type(mytuple)


# Another type
mytuple1 = tuple(["Maxx", 10, False])
print(mytuple1)
type(mytuple1)

('Maxx', 5, 10.5, True)
('Maxx', 5, 10.5, True, 'Max', 5)
('Maxx', 10, False)

tuple

**Tuples are immutables**

If you try to modify one of the elements of the tuple, you get an error

In [3]:
mytuple = (1 , 2 , 3 )
print(type(mytuple))

mytuple[0] = 5

<class 'tuple'>

TypeError: ignored

**Indexing of tuple**

In [ ]:
# Indexing of tuple
print(mytuple)

print(mytuple[0])
print(mytuple[1])
print(mytuple[2],"\n")

('Maxx', 5, 10.5, True, 'Max', 5)
Maxx
5
10.5

Maxx
10
False

**Iterating through the tuple**

In [6]:
# iterating
mytuple1 = ("h","e","l","l","o")
for i in mytuple1:
  print(i)

h
e
l
l
o

**If  - Else statement**

Can be used to check the specific element inside the tuple.

In [ ]:
# checking the element
print(mytuple1)

if "Maxx" in mytuple1:
  print("Yes\n")
else:
  print("no\n")

if "Max" in mytuple1:
  print("Yes\n")
else:
  print("no\n")

('Maxx', 10, False)
Yes

no



*   Length Function
*   Count Function

In [ ]:
# Length and count commands
print(mytuple)

print(len(mytuple))


print(mytuple.count("Maxx"))

('Maxx', 5, 10.5, True, 'Max', 5)
6
1

**Conversion of tuple to list**

In order to change the elements in tuple, this can be achieved by converting the tuple into list.

In [ ]:
# Converting tuple into list

mytuple= ("a","c","d","v","k")

my_list = list(mytuple)
print(my_list)


mytuple2 = tuple(my_list)
print(mytuple2)

['a', 'c', 'd', 'v', 'k']
('a', 'c', 'd', 'v', 'k')

**Slicing of tuple**

In [10]:
# Slicing of tuple
mytuple= ("a","c","d","v","k")

print(mytuple1)
b = mytuple1[0:5]
print(b)
b = mytuple1[0:4]
print(b)
b = mytuple1[:3]
print(b)
b = mytuple1[::-1]
print(b)

('h', 'e', 'l', 'l', 'o')
('h', 'e', 'l', 'l', 'o')
('h', 'e', 'l', 'l')
('h', 'e', 'l')
('o', 'l', 'l', 'e', 'h')

**Indexing of tuple**

In [8]:
# Index command
mytuple= ("a","c","d","v","k")
print(mytuple.index('c'))
print(mytuple.index('d'))

1
2

# **Unpacking of tuple**

Unpacking means we can assign one tuple to another, and by calling one tuple another tuple's value can be obtained

**Note that: The elements should be same in both side each, otherwise it will throw value error.**

In [11]:
# Unpacking of tuple

a = (0,1,2)
i1,i2,i3 = a              # Here the elements should be same in number both the sides.

print(i1)
print(i2)
print(i3)

a = (0,1)
i1,i2,i3 = a

print(i1)
print(i2)
print(i3)                 # Here the elements are not same in both side thatswhy it is showing the value error.ValueError: not enough values to unpack (expected 3, got 2)

0
1
2

ValueError: ignored

**Unpacking for the n number elements**

In [12]:
# Unpacking of tuple
a = (0,1,2,3,4,5)             # If there are n number of elements in both side, so in order to call the same, we can use the * function, it will provide the list of elements.
i1 , *i2, i3 = a
print(i1)
print(i2)
print(i3)

0
[1, 2, 3, 4]
5

**Dir() functions**

In [ ]:
dir(mytuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']