<a href="https://colab.research.google.com/github/deepak-dewani/Advance-Python-Programming/blob/main/Advance_Python_05_Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Chapter - Advance Python**

**Name - String**

**Description - Use of all commands**

**Strings** - A string is a sequence of characters. You can access the characters one at a time with the bracket operator.

*   Strings are ordered, can allow various datatype includes int, float, text and boolean variable.
*   Strings are immutable, can allow duplicate elements.

*   Strings are the simple text representation of the code.

*   Strings can be encoded inside the single, double and triple quotes.
*   Triple quotes are used to write the multi lines or can be used for the documentation of the program.

In [ ]:
#  Strings are ordered, immutuable and Text representation

# Double Quotes
mystring = "Hello World"
print(mystring)

# Single Quotes
mystring = 'Hello World'
print(mystring, "\n")

# Use of backlash to avoid single quote inside single quotes error
mystring = 'I\'m a engineer \n'
print(mystring)


# Triple Quotes
mystring = '''Hello 
world'''
print(mystring, "\n")

# Use of backlash in triple quotes to have string in single line
mystring = '''Hello \
world'''
print(mystring)

Hello World
Hello World

I'm a engineer

Hello
world

Hello world

**Indexing of the string**

*   Positive indexes
*   Negative Indexes

In [ ]:
#  Indexing of string

mystring = "Hello World, Welcome"
print(mystring)

print(mystring[0])
print(mystring[1])
print(mystring[2])
print(mystring[3])
print(mystring[4])
print(mystring[5], "\n")

# Negative Index
print(mystring[-7])
print(mystring[-6])
print(mystring[-5])
print(mystring[-4])
print(mystring[-3])
print(mystring[-2])
print(mystring[-1])

Hello World, Welcome
H
e
l
l
o


W
e
l
c
o
m
e

**Slicing of strings**

In [1]:
# Slicing of string

mystring = "Hello World , Welcome"

print(mystring)
print(len(mystring))

print(mystring[:])
print(mystring[1:])
print(mystring[:21])
print(mystring[0:6])
print(mystring[6:12])
print(mystring[14:],"\n")

# Negative Index
print(mystring[-1:])
print(mystring[-7:])
print(mystring[-15:21],"\n")

# Consecutive printing

mystring = (1,2,3,4,5,6,7,8,9,10)
print(mystring)

print(mystring[::])
print(mystring[::-1])
print(mystring[::1])
print(mystring[::2])                      # Printing odd number
print(mystring[1::2])                     # Printing Even Number

Hello World , Welcome
21
Hello World , Welcome
ello World , Welcome
Hello World , Welcome
Hello
World
Welcome

e
Welcome
World , Welcome

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(1, 3, 5, 7, 9)
(2, 4, 6, 8, 10)

**Concatenation of strings**

Adding two strings together

In [ ]:
# Concat the string
name = "Deepak"
Greet = "Welcome to the bootcamp"

sentence = Greet + " " + name
print(sentence)

# Getting User Input
name = input("Enter the name: ")

greet = "Welcome to bootcamp"

sentence = greet + " " + name
nextline = "Hello " + " " + name
print(sentence, "\n")
print(nextline)

Welcome to the bootcamp Deepak
Enter the name: Deepak
Welcome to bootcamp Deepak

Hello  Deepak

**Looping and iterating**

*   FOR Loop
*   IF - ELSE Statements

In [ ]:
# Looping in string
mystring = "Deepak"

for i in mystring:
  print(i)

print("\n")

if "d" in mystring:
  print("Yes")
else:
  print("No")

D
e
e
p
a
k


No

**Use of Strings Commands**

*   Strip
*   Upper

*   Lower

In [ ]:
# Strip, Upper and lower
mystring = "   Hello world   "

print(mystring)

print(mystring.strip())                 # Remove the whitespaces
print(mystring.upper())                 # Make each element in uppercase
print(mystring.lower())                 # Make each element in lowercase

   Hello world
Hello world
   HELLO WORLD
   hello world

**Use of Strings Commands**

*   Startswith
*   Endswith

*   Find


*   Count
*   Replace

In [ ]:
# Startswith, endswith, Find
mystring = "Hello world"
# Startswith
print(mystring.startswith("F"))
print(mystring.startswith("H"))
print(mystring.startswith("h"))
print(mystring.startswith("Hello"))
print(mystring.startswith("World"), "\n")

# Endswith
print(mystring.endswith("F"))
print(mystring.endswith("r"))
print(mystring.endswith("d"))
print(mystring.endswith("ld"), "\n")

# Find command
print(mystring.find("H"))
print(mystring.find("ld"))
print(mystring.find("h"), "\n")

# Count command
print(mystring.count("H"))
print(mystring.count("l"))
print(mystring.count("p"), "\n")

#  Replace Command
print(mystring.replace("world", "Deepak"))
print(mystring.replace("World", "Deepak"))

False
True
False
True
False

False
False
True
True

0
9
-1

1
3
0

Hello Deepak
Hello world

**Lists and strings**

*   Split function
*   Join function

In [ ]:
#  List and string

mystring = "How you doin"
mylist = mystring.split()
mylist1 = mystring.split(" ")
print(mylist)
print(mylist1, "\n")

mystring = "".join(mylist1)
print(mystring, "\n")

mystring = " ".join(mylist1)
print(mystring, "\n")

mylist = ["h","e","l","l","o"]
print(mylist)

#Bad Way
mystring1 = ''
for i in mylist:
  mystring1 = mystring1 + i
print(mystring1, "\n")

# Good Way
mystring1 = ''.join(mylist)
print(mystring1)

['How', 'you', 'doin']
['How', 'you', 'doin']

Howyoudoin

How you doin

['h', 'e', 'l', 'l', 'o']
hello

hello

# **Formatting Style**

*   Use of % (%s,%d,%f)
*   Use of .format()

*   Use of f-strings

In [ ]:
# Formatting Style
# #use of % , format(), and f-strings


#  for strings/str/words use '%s'
var = "Deepak"
mystr = "the variable is %s" %var
print(mystr)

#  for integars use '%d'
var = 562
mystr = "the variable is %d" %var
print(mystr)

#  for float use '%f'
var = 562.256488511589225
mystr = "the variable is %f" %var
print(mystr)


# %f will give upto 6 digit after .
# %.2f for round the digit

#  for float use '%f'
var = 562.23215851221558
mystr = "the variable is %.2f" %var
print(mystr)

mystr = "the variable is %.4f" %var
print(mystr)

the variable is Deepak
the variable is 562
the variable is 562.256489
the variable is 562.23
the variable is 562.2322

**.format()**

In [ ]:
# Use of format method

var = "Deepak"

mystring = "the variable is {}".format(var)
print(mystring, "\n")

name = "Deepak"
age = 28
city = "nagpur"


mystring = "the variable is {}, {} and {}".format(name, age, city)
print(mystring, "\n")

name = "Deepak"
age = 28
city = "nagpur"
weight = 77.2562

# For floating value, use :.2f, :.3f for rounding the digits upto 2 and 3 places respectively after . 

mystring = "the variable is {}, {}, {:.2f} and {}".format(name, age, weight, city)
print(mystring)

the variable is Deepak

the variable is Deepak, 28 and nagpur

the variable is Deepak, 28, 77.26 and nagpur

**f-strings**

In [2]:
# Use of f-string:
name = "Deepak"

mystring = f"the variable is {name}"
print(mystring)

name = "Deepak"
age = 28
city = "nagpur"
weight = 77.2562

mystring = f"the variable is {name}, {city}, {age} and {weight}"
print(mystring)

name = "Deepak"
age = 28
city = "nagpur"
weight = 77.2562
#  We can use the maths calculation inside the {} so it can be evaluated 
mystring = f"the variable is {name}, {city}, {age + age} and {weight}"
print(mystring)

the variable is Deepak
the variable is Deepak, nagpur, 28 and 77.2562
the variable is Deepak, nagpur, 56 and 77.2562

**Dir() Function**

In [3]:
dir(mystring)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']