<a href="https://colab.research.google.com/github/deepak-dewani/Advance-Python-Programming/blob/main/Advance_Python_04_Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Chapter - Advance Python**

**Name - Sets**

**Description - Use of all commands**

**Set**- Sets are used to store multiple items in a single variable.Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.


*   Set items are unchangeable, but you can remove items and add new items.
*   A set is a collection which is unordered, unchangeable, and unindexed.

In [8]:
#  Sets are unordered, mutable, does not allow duplicate elements

#  Adding elements

myset = {1,2,3,4,5}
print(type(myset))

# Doesn't allow duplicate

myset = {1,2,3,1,2,3,1,2,6}
print(myset)

<class 'set'>
{1, 2, 3, 6}

# **Creating the set**

Set can be created by using the set() function, which is a in-built function in python.

In [ ]:
# empty set

myset = set([1,2,3,5,1,2,65,1,55,])
type(myset)
print(myset)

myset1 = set("Hello world")
print(myset1)

{65, 1, 2, 3, 5, 55}
{'r', 'l', 'd', 'o', 'H', 'w', ' ', 'e'}

# **Sets are immutable**
Set items are unchangeable, but you can remove items and add new items.

**Adding and removing from set**

*   Add()
*   Remove()

*   Discard()
*   Pop()

In [ ]:
#  Adding and removing the elements 

myset = set()

myset.add(1)
myset.add(2)
myset.add(5)

print(myset)

myset.remove(5)
print(myset)

myset.discard(2)
print(myset)

myset = set([1,2,3,5,9,3,1,5,2,1,5])
print(myset)

myset.pop()
print(myset)

{1, 2, 5}
{1, 2}
{1}
{1, 2, 3, 5, 9}
{2, 3, 5, 9}

**Clear Command**

In [2]:
# Clear Command
myset = set([1,2,3,5,9,3,1,5,2,1,5])
myset.clear()
print(myset)

set()

**Looping and Iterating**


*   FOR Loop
*   IF - ELSE Statements

In [ ]:
#  Itering

print(myset)

for i in myset:
  print(i)
print("\n")
if 1000 in myset:
  print("Yes")
else:
  print("No")

{2, 3, 5, 9}
2
3
5
9


No

**Use of Commands in sets**

*   Union
*   Intersection

In [9]:
#  Union, Intersection 

# Union Command
x = {1,3,5,7,9}
y = {0,2,4,6,8}
z = {1,2,3,5,7}

u = x.union(y)
print(u)

# Intersection Command
v = x.intersection(y)
print(v)

w = x.intersection(z)
print(w)

n = y.intersection(z)
print(n)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
set()
{1, 3, 5, 7}
{2}

**Use of Commands in sets**

*   Difference
*   Symmetric Difference

*   Update
*   Intersection Update

In [7]:
set1 = {1,2,3,4,5,6,7,8,9}
set2 = {1,2,3,9,10,11,12,13,15,19}

# Difference
diff = set1.difference(set2)
print(diff)
diff1 = set2.difference(set1)
print(diff1)

# Symmetric Difference
sysdiff = set1.symmetric_difference(set2)
print(sysdiff) 
sysdiff1 = set2.symmetric_difference(set1)
print(sysdiff1)

# Update 
set1.update(set2)
print(set1)
set2.update(set1)
print(set2)

# Intersection Update
set1.intersection_update(set2)
print(set1)
set2.intersection_update(set1)
print(set2)

{4, 5, 6, 7, 8}
{10, 11, 12, 13, 15, 19}
{4, 5, 6, 7, 8, 10, 11, 12, 13, 15, 19}
{4, 5, 6, 7, 8, 10, 11, 12, 13, 15, 19}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 19}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 19}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 19}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 19}

**Use of Commands in sets**

*   Difference Update
*   Symmetric Difference Update

In [10]:
set1 = {1,2,3,4,5,6,7,8,9}
set2 = {1,2,3,9,10,11,12,13,15,19}

# Difference Update
set1.difference_update(set2)
print(set1)

# Symmetric difference update
set1.symmetric_difference_update(set2)
print(set1)

{4, 5, 6, 7, 8}
{2, 4, 5, 6, 7, 8, 1, 3, 9, 10, 11, 12, 13, 15, 19}

**Use of Commands in sets**

*   Subset
*   Superset
*   Isdisjoin

In [ ]:
# superset subset disjoin
set1 = {1,2,3,4,5,6,7,8,9}
set2 = {1,2,3,9}
# Subset
print(set1.issubset(set2))
print(set2.issubset(set1))

print("\n")

# superset
print(set1.issuperset(set2))
print(set2.issuperset(set1))

print("\n")

# Disjoin

print(set1.isdisjoint(set2))
print(set2.isdisjoint(set1))

print("\n")

set3 = {15,96,66}

print(set1.isdisjoint(set3))
print(set2.isdisjoint(set3))

False
True


True
False


False
False


True
True

**Dir() Function**

In [ ]:
dir(myset)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']